html,
body {
  padding: 0;
  margin: 0;
  background-color: #FFF3F0;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

@font-face {
  font-family: pixel11;
  src: url(../public/fonts/Cubic_11_1.300_R.woff2);
}