html,
body {
  padding: 0;
  margin: 0;
  background-color: #fff3f0;
}

* {
  box-sizing: border-box;
}

/* Chrome, Safari, Edge, Opera */
.hide-arrows::-webkit-outer-spin-button,
.hide-arrows::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.hide-arrows {
  appearance: textfield;
  -moz-appearance: textfield;
}

@font-face {
  font-family: pixel11;
  src: url(../public/fonts/Cubic_11_1.300_R.woff2);
}
