.parent {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 5rem;
}

.divleft {
  margin-right: 20px;
  float: left;
}

.divright {
  margin-left: 20px;
  float: right;
}

.red_light,
.yellow_light,
.green_light,
.choose_school,
.obj,
.sele {
  margin: 0px 0px 8px 0px;
}
.red_light::before {
  content: "";
  height: 15px;
  width: 15px;
  background-color: rgb(235, 8, 8);
  border-radius: 50%;
  display: inline-block;
}
.yellow_light::before {
  content: "";
  height: 15px;
  width: 15px;
  background-color: rgb(233, 233, 16);
  border-radius: 50%;
  display: inline-block;
}
.green_light::before {
  content: "";
  height: 15px;
  width: 15px;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
}

.title {
  margin: 0px 0px 8px 0px;
  font-size: 32px;
}

.school_submitbutton {
  background-color: #04aa6d; /* Green */
  border: none;
  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.result_submitbutton {
  padding: 50px 60px;
  margin: 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 40px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  background-color: #04aa6d; /* Green */
  border: none;
  color: white;
}
