.center {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 5rem;
}

.space {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  flex-direction: column;

  margin-top: 12rem;
  height: 10vh;
  width: 100%;
}

.pack {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  flex-direction: column;

  height: 50vh;
  width: 100%;
}

.first {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-content: center;
  overflow: hidden;
}

.first p {
  width: fit-content;
  height: fit-content;
  margin: 15rem 10rem 7rem 10rem;

  font-weight: 900;
  font-size: 65px;
  font-family: openhuninn, sans-serif;
}

.link {
  font-weight: 900;
  font-size: 30px;
  font-family: openhuninn, sans-serif;
}

.title {
  font-size: 45px;
  font-weight: 900;
  font-size: 65px;
  font-family: openhuninn;
}

.arrow {
  justify-content: center;
  align-content: center;

  position: absolute;
  width: 50px;
  height: 50px;
  border-top: 6px solid #f50;
  border-right: 6px solid #f50;

  opacity: 0;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  animation-delay: 0.5s;
  animation-name: arrowmove;
  animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
  opacity: 0%;
  animation-fill-mode: forwards;
}

@keyframes arrowmove {
  0% {
    opacity: 0;
    transform: translateY(0px) rotate(135deg);
  }
  50% {
    opacity: 1;
    transform: translateY(25px) rotate(135deg);
  }
  100% {
    opacity: 0;
    transform: translateY(50px) rotate(135deg);
  }
}
