.nav{
    width:auto;
    height: 8vh;
    display: flex;
    justify-content:center;
    align-items: center;



    background:linear-gradient(35deg,#ffd6a5,#bdb2ff);
}

.link{
    width: fit-content;
    height: 4vh;
    align-items: center;

    display: flex;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.obj{
    display: flex;
    white-space:nowrap;
    margin-left: 8rex;
    margin-right: 8rex;

    font-size: 1.3rem;
    font-family:pixel11;
    color:#322A26;

    transition: all 250ms linear;
}

.obj:hover, .obj:active{
    text-decoration: none;
    font-size: 1.7rem;
}


